<ContentPage Title="About"
             BackgroundColor="GetThemeColor(lightColor: Color.White, darkColor: Color.Black)">
    <ScrollView>
        <StackLayout Orientation="StackOrientation.Vertical"
                     Padding="new Thickness(16,40,16,40)"
                     Spacing="10">
            <Image Source="@(ImageSource.FromResource("Rezipe.images.about-background-reduced.jpg"))"
                   Aspect="Aspect.AspectFit" />
            <Label TextColor="GetThemeColor(lightColor: Color.Black, darkColor: Color.White)"
                   FontSize="22">
                <Span FontAttributes="FontAttributes.Bold"
                      FontSize="22">Rezipe</Span>
                <Span Text=" " />
                <Span>1.3</Span>
            </Label>
            <Label TextColor="GetThemeColor(lightColor: Color.Black, darkColor: Color.White)">
                <Span>This app is written in Blazor and C# with the Xamarin Platform.</Span>
            </Label>
            <Button Margin="new Thickness(0,top: 10,0,0)"
                    OnClick="OpenWeb"
                    BackgroundColor="primaryColor"
                    TextColor="Color.White">
                Help, Support, and Privacy Info
            </Button>
        </StackLayout>
    </ScrollView>
</ContentPage>

@code
{
    Color primaryColor = Color.FromHex("96d1ff");

    async Task OpenWeb()
    {
        await Launcher.OpenAsync(new Uri("https://eilon.github.io/Rezipe/"));
    }
}
