@inject ShellNavigationManager NavigationManager

<ContentPage BackgroundColor="GetThemeColor(lightColor: Color.White, darkColor: Color.Black)">
    <ScrollView>
        <StackLayout Margin="new Thickness(20)">

            <Label TextColor="GetThemeColor(lightColor: Color.Black, darkColor: Color.White)">
                <Span FontSize="40">@Title</Span>
                @if (Recipes != null)
                {
                    <Span FontSize="20">(@Recipes.Count)</Span>
                }
            </Label>

            @if (Recipes == null)
            {
                <Label Text="(Loading...)"
                       FontSize="20"
                       Margin="new Thickness(horizontalSize: 0, verticalSize: 20)"
                       HorizontalTextAlignment="TextAlignment.Center"
                       Opacity="0.5"
                       TextColor="GetThemeColor(lightColor: Color.Black, darkColor: Color.White)" />
                <ActivityIndicator IsRunning="true" />
            }
            else
            {
                if (!Recipes.Any())
                {
                    <Label Text="No recipes in this list"
                           FontSize="16"
                           Margin="new Thickness(horizontalSize: 0, verticalSize: 20)"
                           HorizontalTextAlignment="TextAlignment.Center"
                           Opacity="0.5"
                           TextColor="GetThemeColor(lightColor: Color.Black, darkColor: Color.White)" />
                }
                else
                {
                    foreach (var recipe in Recipes)
                    {
                        <RecipeLink Recipe="recipe" OnClick="RecipeClicked" ShowFavorite="@ShowFavorite" />
                    }

                    @if (RecipeListFooter != null)
                    {
                        @RecipeListFooter
                    }
                }
            }

        </StackLayout>
    </ScrollView>
</ContentPage>


@code {
    [Parameter] public bool ShowFavorite { get; set; }
    [Parameter] public RenderFragment RecipeListFooter { get; set; }
    [Parameter] public List<Recipe> Recipes { get; set; }
    [Parameter] public string Title { get; set; }

    async Task RecipeClicked(Recipe recipe)
    {
        await NavigationManager.NavigateToAsync($"/recipedetails/{recipe.ID}");
    }
}
